@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #ffffff;
}

#heroTitle {
	font-family: "Open Sans", sans-serif;
	font-size: 4em;
	color: #ffffff;
	padding: 0 25px;
}

#heroContent {
	color: #ffffff;
	padding: 0 25px;
	font-size: 1.2em;
	white-space: nowrap;
}

p {
	font-size: 1em;
}

body {
	background-color: #0c2c56;
	font-family: "Open Sans", sans-serif;
}

h2 {
	font-size: 3;
}

h4 {
	text-decoration: underline;
}

h5 {
	font-size: 4em;
	margin: auto;
	display: inline-block;
	width: 100%;
	text-align: center;
}

aside {
	width: 15%;
	float: left;
}

article {
    float: left;
    margin: 20px 20px;
    padding: 2%;
    width: 30%;
    height: 150px;
    background-color: #005c5c;
    color: #000000;
    border-style: solid;
 	border-color: #ffffff;
 	border-width: thin;
}

#reason {

	padding: 25px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#PastResults a{
	color: #ffffff;
	font-weight: 600;
	padding: 10px;
	font-size: 2em;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav#TopNav a {
	float: right;
	text-align: right;
	font-size: 2em;
	color: #ffffff;
	font-weight: 600;
	margin-right: 10px;
	margin-top: 35px;
	padding: 10px;
}

.row {
	padding: 25px 50px;
	display: table;
	width:85%;
	float: right;
}

.column1 {
	background: #005c5c;
 	color: #ffffff;
 	font-size: 25px;
	border-style: solid;
 	border-color: #ffffff;
 	border-width: thin;
 	display: table-cell;
 	width: 25%;
 	vertical-align: middle;
 	text-align: center;

}

.column2 {
	background: #005c5c;
 	color: #ffffff;
 	font-size: 25px;
	border-style: solid;
 	border-color: #ffffff;
 	border-width: thin;
 	display: table-cell;
 	width: 75%;
 	vertical-align: middle;
}

.p.reason {
	padding: 10px;
}

.hero {
  background: url(../images/king-felix.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  max-width: 100%;
  height: 600px;
}

table {
	width: 80%;
	text-align: center;
	margin: auto;
	font-size: 1em;
	border: solid white thin;
}

footer { 
	padding: 25px;
	text-align: center;
}