
head {
	text-align: center;

}
body {
	background-color: #0c2c56;
	background-image: url(images/baseball-bat.png);
	text-align: center;
}

h1 {
	color: #fff;
	font-size: 30;
	font-family: arial black;
}

p {
	color: #fff;
	font-family: arial;
	font-size: 14;
}