
head {
	text-align: center;

}
body {
	background-color: #0C2C56;
	text-align: center;
}

h1 {
	color: #fff;
	font-size: 30;
	font-family: Arial Black;
}

p {
	color: #fff;
	font-family: Arial;
	font-size: 14;
}