body {
	background-color: #0c2c56;
	text-align: center;
}

h1 {
	text-align: left;
	color: #fff;
	font-size: 30;
	font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: left;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
}

nav a {
	float: right;
	text-align: right;
	color: #ffffff;
	font-weight: 600;
	margin-left: 10px;
	margin-top: 70px;
}

.column {
  color: #ffffff;
  font-size: 25px;
  float: left;
  width: 30%;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
}

.hero {
  width: 100%;
}